html {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.pageContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.inputsContainer {

    height: 10rem;
    width: 100%;
    position: relative;

}

    .playerInputsOuterContainer {

        height: 5rem;
        width: 100%;
        background-color: lightgray;

    }

    .playerInputsInnerContainer {

        position: relative;
        transform: translateY(-50%);
        top: 50%;
        margin: 0 auto;
        text-align: center;

    }

        .playerInputContainer {

            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;

        }

            .playerInputContainer .inputComponent {

                display: inline-block;

            }

                .inputComponent .playerInput {

                    margin-left: 1rem;

                }

    .speedInputsOuterContainer {

        height: calc( 100% - 5rem );
        width: 100%;
        background-color: blue;

    }

        .speedInputsInnerContainer {

            position: relative;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            
        }

            .speedInput {

                display: inline-block;
                margin-left: 1rem;
                margin-right: 1rem;
                padding: 1rem;
                background-color: white;
                color: black;
                border-radius: 1rem;
                cursor: pointer;
                border-width: .25rem;
                border-style: solid;
                border-color: black;

            }

            .speedInput:not(.active):hover {

                color: #004400;
                background-color: #daf9de;

            }

            .speedInput.active.active {

                color: green;
                background-color: #c3f1c9;

            }

.simulateButtonContainer {
    height: 5rem;
    width: 100%;
    position: relative;
}

.simulateButton {
    display: inline-block;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 1rem;
    border-width: .25rem;
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #40c140;
}

.gameRenderContainer {
    height: calc( 100% - 15rem );
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

    .renderingRow {
        width: 100%;
        height: calc( 100% / 9 );
        display: block;
    }

        .renderingBox {
            width: calc( (100% / 9) - .25rem );
            height: calc( 100% - .25rem );
            display: inline-block;
            border-right-style: solid;
            border-right-color: black;
            border-right-width: .25rem;
            border-bottom-style: solid;
            border-bottom-color: black;
            border-bottom-width: .25rem;
        }

            .firstRow {
                height: calc( 100% - .5rem );
                border-top-style: solid;
                border-top-color: black;
                border-top-width: .25rem;
            }

            .firstCol {
                width: calc( (100% / 9) - .5rem );
                border-left-style: solid;
                border-left-color: black;
                border-left-width: .25rem;
            }